html {
  scroll-behavior: smooth;
}

.pp {
  height: 40px;
  border-radius: 50%;
}

.section {
  min-height: 100vh;
  padding-top: 4.5rem;
}

.h2-font {
  font-size: 1.75rem;
}

.icon {
  height: 50px;
}

.icon-sm {
  height: 25px;
}

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: min(50vh, 50vw);
}

.centered-span {
  display: table;
  margin: 0 auto;
}

.cont {
  overflow-x: hidden;
}

.responsive {
  width: 100%;
  height: auto;
}